html, body{
    width: 100%;
    height: 100%;
}
body{
    background: #000;
}
#demo{
    width: 100%;
}
.logo{
    float: left;
    clear: both;
}
.boxes{
    float: left;
    clear: right;
    width: 20%;
}
.box{
    display: inline-block;
    margin: 1%;
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 25%;
}